* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

nav {
  background: #2563eb;
  color: white;
  padding: 18px 24px;
  border-radius: 12px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  color: #555;
}

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 12px;
}

.task-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: translateY(-3px);
}

.task-card h3 {
  margin-bottom: 10px;
}

.task-card p {
  color: #666;
}

.pending {
  background-color: #fa1534;
  color: #000;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.progress {
  background-color: #3b82f6;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.completed {
  background-color: #22c55e;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}